* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

:root {
  --main-color: rgb(255, 23, 86);
  --color2: rgb(46, 144, 213);
  --color3: rgb(145, 71, 175);
  --color4: rgb(24, 182, 87);
  --color5: rgb(245, 190, 52);
  --color6: rgb(232, 92, 13);
}

.main_container {
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, #e72c63 0%, #8a3bd1 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 340px;
  height: 500px;
  /* background-color:orange; */
  background-color: rgb(255, 255, 255);

  border-radius: 25px;
  overflow: hidden;
  margin-top: 46px;
  margin-bottom: 46px;
}

.profile_section {
  width: 100%;
  height: 130px;

  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}

.roung_img_main {
  width: 130px;
  height: 130px;
  border: 8px solid white;
  border-radius: 100%;
  transform: translateY(50%);
  box-shadow: -2px 0px 20px 2px var(--main-color);

  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
}

.content_main_container {
  width: 100%;
  height: 170px;
  /* border: 1px solid rgb(47, 133, 91); */
  display: flex;
  justify-content: center;
  align-items: end;
}

.content {
  width: 100%;
  height: 90px;
}

.user_name {
  color: var(--main-color);
  text-align: center;
  font-weight: 700;
  line-height: 2.2rem;
}

.content > p {
  text-align: center;
  font-size: 1.3rem;
 
}

.social_networking_main {
  width: 100%;
  height: 75px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}

.followers {
  width: 160px;
  height: 100%;
  /* border: 1px solid red; */
}

.following {
  width: 160px;
  height: 100%;
  /* border: 1px solid red; */
}

.followers > h1 {
  text-align: center;
  font-weight: 700;
}

.follower_p_color {
  text-align: center;
  font-size: 1.3rem;
  text-align: center;
  color: var(--main-color);
  font-weight: 600;
  margin-top: 5px;
}

.following > h1 {
  text-align: center;
  font-weight: 700;
}

.following_p_color {
  font-size: 1.3rem;
  text-align: center;
  color: var(--main-color);
  font-weight: 600;
  margin-top: 5px;
}

.button_main {
  width: 100%;
  height: 60px;
  /* border: 1px solid orange; */
  display: flex;
  align-items: end;
  justify-content: space-evenly;
}

.left_button {
  width: 140px;
  height: 40px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.right_button {
  width: 140px;
  height: 40px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: var(--main-color);
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}


/* .left_button:hover {
  background-color: white;
  color: var(--main-color);
}

.right_button:hover {
  background-color: var(--main-color);
  color: white;
} */

.color_change {
  width: 100%;
  height: 50px;
  /* border: 1px solid red; */
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.color1{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--main-color);
  transition: all 0.2s ease-in;
}



.color2 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--color2);
  transition: all 0.2s ease-in;
}

.color3 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--color3);
  transition: all 0.2s ease-in;
}

.color4 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--color4);
  transition: all 0.2s ease-in;
}

.color5 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--color5);
  transition: all 0.2s ease-in;
}

.color6 {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--color6);
  transition: all 0.2s ease-in;
}

.color1:hover {
  box-shadow: -2px 0px 20px 2px var(--main-color);
}

.color2:hover {
  box-shadow: -2px 0px 20px 2px var(--color2);
}

.color3:hover {
  box-shadow: -2px 0px 20px 2px var(--color3);
}

.color4:hover {
  box-shadow: -2px 0px 20px 2px var(--color4);
}

.color5:hover {
  box-shadow: -2px 0px 20px 2px var(--color5);
}

.color6:hover {
  box-shadow: -2px 0px 20px 2px var(--color6);
}

/* .onclick_color_change_background_color2{
background-color: var(--color2);
}

.onclick_color_change_box_shadow_color2{
  box-shadow: -2px 0px 20px 2px var(--color2);
}
.onclick_color_change_fontcolor_color2{
color: var(--color2);
} */